<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>xing-ban界面</title>
</head>
<body>
    <h1>xing-封禁系统</h1>
    <h2>暂时不能用！</h2>
    <div class="banList">
        <ul>
            <li>
                <span class="index">
                    {{ index }}
                </span>
                <span class="playerName">
                    {{ playerName }}
                </span>
                <span class="startTime">
                    {{ startTime }}
                </span>
                <span class="stopTime">
                    {{ stopTime }}
                </span>
                <button @cleck="">修改</button>
            </li>
        </ul>
    </div>
</body>
</html>